<div id="header">
  <div id="toolbarleft">
    <span class="logo"> ChealseaClub </span>
    <div class="search">
      <input type="text" placeholder="Search..." />
      <img src="../../../assets/search.png" />
    </div>
  </div>
  <div id="toolbarright">
    <img src="../../../assets/Chelsea.png" style="height: 60px; width: 60px" />
    <!-- <div class="account">
      <div class="login-box">
        <a href="">Log in</a>
      </div>
      <div class="create-box">
        <a href="">Create account</a>
      </div>
    </div> -->
  </div>
</div>
